*{
  font-size: 14px;
  font-family: 'Open Sans';
}

.navbar-default .navbar-nav > .active > a{
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover{
  background-color: transparent;
  color: #399bd1;
}

.navbar-default .navbar-nav{
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: @screen-md-min){
  .navbar-brand .navbar-right .navbar-collapse > img{
    display: none;
  }
}

.jumbotron-bike{
  background-image: url("../images/jumbotron-bike.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  display: flex;
}

.jumbotron-bike .container-fluid{
  align-items: center;
  justify-content: center;
}

.jumbotron-bike .container-fluid h1{
  font-family: 'Monoton';
  text-transform: uppercase;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron-bike .container-fluid p{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 51.3rem;
}



.btn .btn-primary .btn-lg{
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 2.8rem;
  width: 11.4rem;
}

.btn .btn-primary .btn-lg:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn .btn-primary .btn-lg:active{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.btn .btn-primary .btn-lg a{
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.image-container img{
  opacity: 0.7;
}

.row{
  display: flex;
  flex-direction: row;
}
